@charset "UTF-8";
/* CSS Document */

/*Valores de cuerpo, fuente y color*/
body {
	background-color: #f0f0f0;
	font-size: 15px;
    font-family: 'Quicksand', sans-serif;
}

.hero-bg {
	background-image: url("../assets/fondo-hero.jpg");
	min-height: 500px;
}

.espaciador {
	min-height: 50px;
}

.video-hero {
	min-width: 350px;
	width: 40%;
}

.container-boton {
	display: flex;
	justify-content: center;
}

.boton-hero {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	background-color: #003049;
}

.nav-link {
	color: #003049;
}

.activo-nav {
	color: #1380D0;
}

.nav-fonts {
	font-family: 'Gotham-Bold';
	font-size: 1.5em;
}

.titulo-pag {
	font-family: 'Gotham-Bold';
	font-size: 1 em;
	margin: 30px;
	text-align: center;
}

.anuncio-ubl {
	width: 40%;
}